<%- include("templates/header") %>
    <p id="error-msg"><%= errorMsg %></p>
    <a href=<%= target %>>
        <button type="button">
            Try again
        </button>
    </a>
<%- include("templates/footer") %>