<!-- Header -->
<%- include("templates/header") %>
    <p id="error-msg"><%= errorMsg %></p>
    <a href=<%= target %>>
        <button type="button" class="btn btn-primary">
            Try again
        </button>
    </a>
<!-- Footer -->
<%- include("templates/footer") %>