<!-- Header -->
<%- include("templates/header") %>

    <h1>Hello, <%= userName %></h1>
    <a href="/members">
        <button type="button" class="btn btn-primary">
            Go to Members Area
        </button>
    </a>
    <a href="/logout">
        <button type="button" class="btn btn-primary">
            Log out
        </button>
    </a>

<!-- Footer -->
<%- include("templates/footer") %>