<%- include("templates/header") %>
    <h1>Assignment 1</h1>
    <a href="/signup">
        <button type="button">
            Sign Up
        </button>
    </a>
    <a href="/login">
        <button type="button">
            Log In
        </button>
    </a>
<%- include("templates/footer") %>