<%- include("templates/header") %>
    <h1>Hello, <%= userName %></h1>
    <img class="centered" src=<%= target %> alt="Cat Image">
    <br>
    <a href="/logout">
        <button class="centered">Sign Out</button>
    </a>
<%- include("templates/footer") %>