<!-- Header -->
<%- include("templates/header") %>
    <h1>404</h1>
    <h2>Uh oh! You're lost.</h2>
    <p>The page you are looking for does not exist.
        How you got here is a mystery.
    </p>
    <p> But you can click the button below
        to go back to the homepage.
    </p>
    <a href="/">
        <button type="button" class="btn btn-primary">
            Home
        </button>
    </a>
<!-- Footer -->
<%- include("templates/footer") %>