<%- include("templates/header") %>
    <h1>Hello</h1>
    <p>Enter your personal details and start journey with us.</p>
    <form action="/signup" method="POST">
        <input name='user_name' type='text' placeholder='Enter your name'>
        <input name='email' type='text' placeholder='Enter email'>
        <input name='password' type='password' placeholder='Enter password'>
        <button>Submit</button>
    </form>
<%- include("templates/footer") %>